In [231]:
import pandas as pd
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [232]:
dt =  pd.read_csv("C:/Users/Richalatou/cours_machine_learning\MACHINE_learning/YNOV_DATA\challenge-housepricing-ynov/train_housing.csv")

In [233]:
dt

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,4
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,5
...,...,...,...,...,...,...,...,...,...,...,...
11995,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667,93800.0,INLAND,20626
11996,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952,92400.0,INLAND,20628
11997,-121.45,39.26,15.0,2319.0,416.0,1047.0,385.0,3.1250,115600.0,INLAND,20632
11998,-121.53,39.19,27.0,2080.0,412.0,1082.0,382.0,2.5495,98300.0,INLAND,20633
11999,-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3.7125,116800.0,INLAND,20634

# Sélectionner les colonnes pertinentes pour la régression
# Ici, on essaie de prédire `median_house_value`

In [234]:
moyenne = dt.median_house_value.mean()

In [235]:
moyenne

np.float64(206731.83833333335)

In [236]:
X = dt[["longitude", "latitude", "housing_median_age", "total_rooms", 
          "total_bedrooms", "population", "households", "median_income"]]
y = dt["median_house_value"]

In [237]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368
...,...,...,...,...,...,...,...,...
11995,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667
11996,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952
11997,-121.45,39.26,15.0,2319.0,416.0,1047.0,385.0,3.1250
11998,-121.53,39.19,27.0,2080.0,412.0,1082.0,382.0,2.5495
11999,-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3.7125

In [238]:
y

0        452600.0
1        358500.0
2        352100.0
3        342200.0
4        269700.0
           ...
11995     93800.0
11996     92400.0
11997    115600.0
11998     98300.0
11999    116800.0
Name: median_house_value, Length: 12000, dtype: float64

# Diviser les données en ensembles d'entraînement et de test

In [239]:
X = X.fillna(X.mean())

In [240]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368
...,...,...,...,...,...,...,...,...
11995,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667
11996,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952
11997,-121.45,39.26,15.0,2319.0,416.0,1047.0,385.0,3.1250
11998,-121.53,39.19,27.0,2080.0,412.0,1082.0,382.0,2.5495
11999,-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3.7125

In [241]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialiser et entraîner le modèle de régression linéaire

In [242]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [243]:
print("Coefficients de la régression linéaire :")

Coefficients de la régression linéaire :

In [244]:
print("\nIntercept :", model.intercept_)

Intercept : -3646504.9917481146

In [245]:
print(model.coef_)

[-4.35201837e+04 -4.34107697e+04  1.16419916e+03 -7.13640165e+00
  8.49711818e+01 -3.64675865e+01  6.83319806e+01  3.97528478e+04]

# Faire des prédictions sur l'ensemble de test

In [246]:
y_pred = model.predict(X_test)

In [247]:
y_pred

array([-18576.68338086, 200681.65877013, 437583.69028278, ...,
       207820.20445447, 648479.83294017, 185903.12849353])

In [248]:
dt_test = pd.read_csv("C:/Users/Richalatou/cours_machine_learning\MACHINE_learning/YNOV_DATA\challenge-housepricing-ynov/test_housing.csv")

In [249]:
dt_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,id
0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,3
1,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,NEAR BAY,10
2,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705,NEAR BAY,11
3,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,NEAR BAY,12
4,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,NEAR BAY,13
...,...,...,...,...,...,...,...,...,...,...
8635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND,20635
8636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND,20636
8637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND,20637
8638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND,20638
8639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND,20639

In [250]:
X_dt_test = dt_test[["longitude", "latitude", "housing_median_age", "total_rooms", 
          "total_bedrooms", "population", "households", "median_income"]]

In [251]:
X_dt_test = X_dt_test.fillna(X.mean())

In [252]:
X_dt_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
1,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031
2,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705
3,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750
4,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736
...,...,...,...,...,...,...,...,...
8635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603
8636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568
8637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000
8638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672
8639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886

In [253]:
y_dt_test = model.predict(X_dt_test)

# Calculer le RMSE

In [254]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

In [255]:
rmse

np.float64(69271.69667210634)

# SUB

In [256]:
sub = pd.read_csv("C:/Users/Richalatou/cours_machine_learning\MACHINE_learning/YNOV_DATA\challenge-housepricing-ynov/submission.csv")

In [257]:
sub["median_house_value"] = y_dt_test

In [258]:
sub

         id  median_house_value
0         3       321099.732198
1        10       234492.831798
2        11       255933.022154
3        12       228390.923637
4        13       209001.725110
...     ...                 ...
8635  20635        12259.773695
8636  20636        39459.840833
8637  20637        22686.721180
8638  20638        35164.038957
8639  20639        52483.697646

[8640 rows x 2 columns]

In [259]:
sub.to_csv("C:/Users/Richalatou/cours_machine_learning\MACHINE_learning/YNOV_DATA\challenge-housepricing-ynov/submission1.csv", sep=",", index=False)